.page-content {
    font-size: 18px; /* Adjust the font size as needed */
}

.navbar-custom {
    background-color: lightgreen;
    color: green;
}

.form-container {
    display: flex; /* Use flex display to make the forms side by side */
    justify-content: space-around; /* Adjust as needed */
    align-items: center; /* Center vertically within the container */
}


.side-by-side {
    display: inline-block;
    margin-right: 30px;
}