.page-content {
    font-size: 18px; /* Adjust the font size as needed */
}

.navbar-custom {
    background-color: lightgreen;
    color: green;
}

.form-container {
    display: flex; /* Use flex display to make the forms side by side */
    justify-content: space-around; /* Adjust as needed */
    align-items: center; /* Center vertically within the container */
}


.side-by-side {
    display: inline-block;
    margin-right: 30px;
}

.welcome-user-top h1, h3 {
    display: inline !important;
}

.artist-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-right: 15px; /* Add some space between item and text */
}

.artist-item img {
    margin-right: 30px; /* Add space between image and text */
}

.artist-item h5 {
    font-size: 20px; /* Adjust the font size as needed */
}

.artist-item a {
    color: black; /* Change the link color to black */
    text-decoration: underline;
}

.artist-item a:hover {
    cursor: pointer;
    text-decoration: none;
}

.container-chart {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 740px;
  margin: 0 auto; /* Center-align horizontally */
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: #565656;
}

.chartBox {
    position: relative;
    width: 1200px; // Adjust the width as needed
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    margin-right: auto; /* Align on the left-hand side */
}