{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}User Profile{% endblock %}

{% block page_content %}

<div class="welcome-user-top">
    <h1>Hello, {{ user }} 😎 </h1><h3>{% if followers == 0 %}You have no followers yet{% elif followers == 1 %}You have 1 follower{% else %}Congrats on the {{ followers }} followers!{% endif %}</h3>
</div>
<br>

<div class="container">
    <form method="POST" id="user-form">
        <div class="row">
            <div class="col-md-4">
                {{ form.dd_type.label }}
                {{ form.dd_type(class="form-control", id="dd-type") }}
            </div>
            <div class="col-md-4">
                {{ form.dd_time_frame.label }}
                {{ form.dd_time_frame(class="form-control", id="dd-time-frame") }}
            </div>
            <div class="col-md-4">
                {{ form.dd_sort.label }}
                {{ form.dd_sort(class="form-control", id="dd-sort") }}
            </div>
        </div>
    </form>
</div>

<br>
<div id="content"></div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function() {
        $('#dd-type, #dd-time-frame, #dd-sort').change(function() {
            const ddType = $('#dd-type').val();
            const ddTimeFrame = $('#dd-time-frame').val();
            const ddSort = $('#dd-sort').val();

            $.ajax({
                url: '{{ url_for('userdata.profile') }}',  // Update this URL to your route
                method: 'POST',
                data: {
                    dd_type: ddType,
                    dd_time_frame: ddTimeFrame,
                    dd_sort: ddSort
                },
            success: function(data) {
                $('#content').html(data.content);
            },
            error: function(error) {
                    console.error('Error:', error);
                }
            });
        });
    });
</script>
{% endblock %}