{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}User Profile{% endblock %}

{% block page_content %}

<h1>Hello, {{ user }} 😎 </h1>
    <h3>
        {% if followers == 0 %}
        You have no followers yet
        {% elif followers == 1 %}
        You have 1 follower
        {% else %}
        Congrats on the {{ followers }} followers!
        {% endif %}
    </h3>

<br>

<h4>{{ string }}</h4>

<div class="container">
    <form method="POST">
        <div class="row">
            <div class="col-md-4">
                {{ form.dd_type.label }}
                {{ form.dd_type(class="form-control") }}
            </div>
            <div class="col-md-4">
                {{ form.dd_time_frame.label }}
                {{ form.dd_time_frame(class="form-control") }}
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

<br>

<div class="container">
    <div class="row">
        {% if type == 'artists' %}
            <div class="row">
                {% for artist in artists %}
                    <div class="col-md-4">
                        <div class="artist-item">
                            <img src="{{ artist_imgs[artist] }}" width="64" height="64">
                            <h5>{{ loop.index }}. {{ artist }}</h5>
                        </div>
                    </div>
                    {% if loop.index % 3 == 0 %}
                        </div><div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% if type == 'tracks' %}
            <div class="row">
                {% for track in track_names %}
                    <div class="col-md-4">
                        <div class="artist-item">
                            <img src="{{ track_imgs[track] }}" width="64" height="64">
                            <h5>{{ loop.index }}. {{ track }}</h5>
                        </div>
                    </div>
                    {% if loop.index % 3 == 0 %}
                        </div><div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}