{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}User Profile{% endblock %}

{% block page_content %}

<h1>Hello, {{ user }} 😎 </h1>
    <h3>
        {% if followers == 0 %}
        You have no followers yet
        {% elif followers == 1 %}
        You have 1 follower
        {% else %}
        Congrats on the {{ followers }} followers!
        {% endif %}
    </h3>

<br>

<h4>{{ string }}</h4>

<div class="container">
    <form method="POST">
        <div class="row">
            <div class="col-md-4">
                {{ form.dd_type.label }}
                {{ form.dd_type(class="form-control") }}
            </div>
            <div class="col-md-4">
                {{ form.dd_time_frame.label }}
                {{ form.dd_time_frame(class="form-control") }}
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

{% if type == 'artists' %}
    <div class="side-by-side">
        <ol>
            {% for artist in artists %}
                <li>
                    <div class="item-container">
                        <img src="{{ artist_imgs[artist] }}" width="64" height="64">
                        <h5>{{ artist }}</h5>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
{% elif type == 'tracks' %}
    <div class="side-by-side">
        <ol>
            {% for track_name in track_names %}
                <li>
                    <div class="item-container">
                        <img src="{{ image_info }}" width="64" height="64">
                        <h5>{{ track_name }}</h5>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endif %}
{% endblock %}