<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='generic.css') }}">
    {% endblock %}
</head>
<body>

<!--    <header>-->
<!--        <nav>-->
<!--            <ul>-->
<!--                <li><p>Log In</p></li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </header>-->

    <main>
        {% block body %}
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        <p><small>Not affiliated with Spotify in anyway!</small></p>
        <p><small>Source code for this project can be found <a href="https://github.com/Fa-zz/spotify-analyzer-webapp-summer-23" target="_blank">here</a>.</small></p>
        {% endblock %}
    </footer>
</body>
</html>